{% extends "../base.html" %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div id="content">
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{boarddata.title}}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{boarddata.content | linebreaksbr }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if delandmodify %}
					<a href="/board/modify?id={{boarddata.id}}">글수정</a>
					<a href="/board/modify?id={{boarddata.id}}">글삭제</a>
					{%else%}
					<a href="/board/modify?id={{boarddata.id}}">답글</a>
					{% endif %}
				</div>
			</div>
		</div>
{% endblock %}